
<mat-grid-list cols="3" rowHeight="700px">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="character-card">
      <mat-card-header>
        <mat-card-title>Frankie</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./../assets/images/Frankie.jpg" alt="Photo of Frankie">
      <mat-card-content>
        <p>
          A clumsy young monster. He is part of the Super Monsters. Frankie is 3 or 4 years old.
          His power is super strength and electricity manipulation.
          He is clumsy, kind, and sometimes impulsive. And he loves playing a staking game when in human form
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="character-card">
      <mat-card-header>
        <mat-card-title>Zoe</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./../assets/images/Zoe.jpg" alt="Photo of Zoe">
      <mat-card-content>
        <p>
          Zoe has the ability to see through solid objects and walk through walls. She also enjoys painting and is in the kazoo band. Zoe mentions in the first episode that all of her family had zombie vision, and most could walk through walls like a ghost. Throughout the show, she is portrayed as playful, smart, and nice. 
          Zoe is a sweet and creative zombie. She has light blue skin, multi-colored hair, and green eyes. She loves to play with Katya a lot.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="character-card">
      <mat-card-header>
        <mat-card-title>Cleo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./../assets/images/Cleo3.jpg" alt="Photo of Cleo">
      <mat-card-content>
        <p>
          Cleo is the daughter of the Egyptian queen, Cleopatra
        </p>
      </mat-card-content>
    </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="character-card">
      <mat-card-header>
        <mat-card-title>
          Katya
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./../assets/images/Katya.JPG" alt="Photo of Katya">
      <mat-card-content>
        <p>
          Katya is an adorable and sweet young witch attending Pitchfork Pines preschool.
          Katya loves all of her friends at school, and has affection for everyone close to her. She is very helpful, as she is often asked for her help using her special magic wand. Katya is even best friends with Lobo.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



