<mat-card class="character-card">
  <mat-card-header>
    <mat-card-title>Frankie</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="./../assets/images/Frankie.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      A clumsy young monster. He is part of the Super Monsters. Frankie is 3 or 4 years old.
      His power is super strength and electricity manipulation.
      He is clumsy, kind, and sometimes impulsive. And he loves playing a staking game when in human form
    </p>
  </mat-card-content>
</mat-card>
