
<div class="content">
  <div>
    <img width="1080" mat-card-image alt="Super Monsters Logo" src="./../assets/images/Super-Monsters.jpg">
  </div>
  <div class="logo-descr">
    <h1>Super Monsters is an upcoming Netflix animated series.</h1>
    <h3>
      As preschoolers with super powers, Katya, Cleo, Frankie, Drac, Zoe, and Lobo are students with dual identities:
      <b>Humans by day and magical Monsters by night</b>. Enrolled at the prestigious Pitchfork Pines Preschool,
      the group of friends work together under the leadership of their teachers, Igor and Esmie,
      as they attempt to master their seemingly untamable powers. Each episode of the series features kindergarten
      readiness skills like sharing, communicating feelings and respecting others. Pitchfork Pines opens its doors next year,
      with Season 1 of Super Monsters launching Spring 2018. They have a brand new student, Spike the dragon.
    </h3>
  </div>
</div>

